@import "tailwindcss";

@theme inline {
  --color-primary: #c9ff61;
  --color-secondary: #022cfd;
  --font-random: "Random", sans-serif;
}

body,
html,
#root {
  margin: 0;
  padding: 0;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@font-face {
  font-family: "Random";
  src: url("/fonts/random.ttf") format("truetype");
}
