@import "tailwindcss";

@theme inline {
  --color-primary: #c9ff61;
  --color-secondary: #022cfd;
}

body,
html,
#root {
  margin: 0;
  padding: 0;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}
